body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

input {
  padding: 9px 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

#balance {
  border: 1px solid black;
  background-color: white;
  margin: 10px 0;
  padding: 5px 0;
  &:before {
    content: "Balance:";
  }
}

.components {
  display: flex;
  flex-wrap: wrap;

  > div {
    background-color: #eee;
    margin: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;

    h1 {
        margin: 0 0 20px;
    }
  }
}

.button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 9px 25px;
  font-size: 0.7em;
  letter-spacing: 0.7px;
  background-color: #f58427;

  &:hover {
    cursor: pointer;
  }
}
